<!DOCTYPE html>
<html lang="en">
<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/resources/styles/style.css">
		<title>Optimizador de cortes</title>
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet" />
	</head>
<body>
		<header>
			<figure class="logo__container">
				<img src="/resources/assets/images/optimizador-logo.png" alt="" class="logo">
			</figure>
		</header>
		<main>
			<section class="main__title">
				<h1>Bienvenido</h1>
			</section>
			<form action="" class="main-login__container--form" onsubmit="return false">
				<input class="input" type="tex" id="usuario" placeholder="usuario" required />
				<input class="input" type="password" id="password" placeholder="Contraseña" required />
				<button type="submit" class="button" id="boton_iniciar_sesion" value="Iniciar sesión">
				  Iniciar sesion
				</button>
				<!-- <div class="login__container--remember-me">
					<label class="checkbox" for="">
					  <input
						type="checkbox"
						name=""
						id="cbox1"
						value="checkbox"
					  />Recuérdame
					</label>
					<a href="/">Olvidé mi contraseña</a>
				  </div> -->
			  </form>
			</section>
		</main>
</body>
</html>